* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

header .headline {
	font-size: 32px;
}

header {
	width: 100%;
	padding: 20px 0;
	text-align: center;
}

.nav-list {
	border-top: 1px solid #848282;
	border-bottom: 1px solid #848282;
	text-align: center;
	padding: 15px 0;
	margin: 0 auto;
}

.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}


.main {
	margin: 50px auto;
	width: 800px;

}

.box1 {
	width: 200px;
	height: 200px;
	background-color: #e6ffe9
	float: left;
}

footer {
	height: 120px
	width: 100%;
	text-align: center;
	line-height: 120px;
	background-color: #848282;
}

.footer-text {
	color: #fff;
}